
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sobre nós</title>
</head>
<body>
    <div>


        <div class="row margen">
            <div class="col-md-4">
                <img class="img" src="~/Imagens/Dinamico.png" />
                <h2><b>Sistema dinamico</b></h2>

                <h6>Queremos trazer um sistema web que gerencia os descartes de resíduos dentro das normas vigentes no Brasil com mais interação das Empresas de Coleta com as empresas / indústrias químicas para reduzir a falta de segurança e colaborar com um meio ambiente mais sustentável.Neste sistema o químico irá inserir num formulario detalhes do residuo que irá descartar, podendo alterar.</h6>
            </div>
            <div class="col-md-4">
                <img class="img" src="~/Imagens/Objetivo.png" />
                <h2><b>Objetivo</b></h2>

                <h6>O objetivo é criar um sistema que auxilie o descarte da forma correta mostrando as bombonas disponíveis para descartar, além disso atribuir a ele também funcionalidades importantes para a Empresa de Coleta que irá acompanhar todo o processo que acontece no laboratório, tendo relatórios e informações chaves que agregam na qualidade de seus serviços. </h6>
            </div>
            <div class="col-md-4">
                <img class="img" src="~/Imagens/ComoFunciona.png" />
                <h2><b>Como funciona</b></h2>

                <h6>Os químicos terão acesso ao histórico das bombonas para descartar os residuos de uma maneira mais segura. Enquanto a empresa de coleta visualizará todo processo que ocorre nos laboratórios, podendo acompanhar os químicos e as bombonas prontas para coleta.Por esse fato o nosso público alvo é a Empresa de Coleta que utilizara o nosso sistema para gerir e viabilizar os serviços já prestados para as empresas químicas, ampliando resultados e se destacando no mercado de trabalho.</h6>
            </div>
        </div>
    </div>
    <footer id="footer">
        <h7 class="copyright">Chemitech.</h7>
    </footer>

</body>
</html>
