
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contato</title>
</head>
<body>
    <div class="row margen">
        <div class="col-md-5">
            <div class="row pos">
                <div class="fa fa-phone-square col-12">12997716946</div>
                <br />


                <div class="fa fa-envelope col-12">chemitechadm@gmail.com</div>
                <br />


                <div class="fa fa-facebook-square col-12">Chemitech</div>
                <br />


                <div class="fa fa-instagram col-12">Chemitech</div>
                <br />

            </div>
        </div>
        <div class="col-md-6">
            <img src="~/Imagens/contato-icones.jpg" />
        </div>
    </div>
    <footer id="footer">
        <h7 class="copyright">Chemitech.</h7>
    </footer>
</body>
</html>
