
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center margen">Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group rx-form-group">
        
        <div class="col-md-6 col-sm-6 form-group mx-auto">
            <label class="fa fa-envelope select"><b class="espaco-login">Email:</b></label>
            <input type="email"  required="required" class="form-control" id="email" value="" name="email"><br />
        </div>
        <div class="col-md-6 col-sm-6 form-group mx-auto">
            <label class="fa fa-unlock-alt"><b class="espaco-login">Senha:</b></label>
            <input type="password"  required="required" class="form-control" id="senha" value="" name="senha"><br />
        </div>

    </div>

    <div class="col-md-6 col-xs-6 form-group  mx-auto text-center">
        <button class="btn-cadastrar direito" type="submit">Acessar</button>
    </div>

    <div class="col-md-6 col-xs-6 form-group  mx-auto">
        @Html.ActionLink("Esqueci minha senha", "RecuperarSenha","Homepage", new { @class = "btn-cadastrar botonMargim" })
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}